@import "./reset.css";

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 900;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
}

.header {
  margin-top: 10rem;
  margin-bottom: 3rem;
  font-size: 5.5rem;
  color: blue;
  line-height: 1rem;
  vertical-align: middle;
}

.header img {
  width: 5rem;
  height: 5rem;
}

.title {
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 2rem;
  font-size: 4rem;
  width: 50rem;
  letter-spacing: 1rem;
  background-color: green;
  color: white;
}

.date {
  font-size: 6rem;
  line-height: 10rem;
}

.date span {
  height: 2rem;
  background-color: red;
}

.currentDate {
  font-size: 3rem;
  padding-bottom: 0.5rem;
}

.currentDate div {
  margin: 0.4rem;
}

.logo {
  background-color: #282e38;
  font-size: 2rem;
  color: white;
}
