<!DOCTYPE html>
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 우민 
    body
        button 초기화
        button 시작
        script(src="/dist/main.js")