<!DOCTYPE html>
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 우민 
    body
        div 일수 
            span 1일 
        button 초기화
        script(src="/dist/main.js")