html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 우민 
    body
        div 일수 
            span(class= `${countValue}`)= `${countValue}일` 
        //- if( countValue )
        //-     button#startBtn 시작
        //- else 
        button#resetBtn 초기화
        script.
            window.countValue = !{JSON.stringify(countValue)}
        script(src="/dist/main.js")
        